@model IEnumerable<App.Models.ParticipantModel>

<a asp-action="CreateParticipant"><button type="button" class="btn btn-primary">Addera ny deltagare</button></a>

<hr style="padding-bottom: 2rem;">

<table class="table table-bordered table-striped table-sm">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th>Förnamn</th>
            <th>Efternamn</th>
            <th>Email</th>
            <th>Telefonnummer(H)</th>

            <th>Adress</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center;">
                    <a asp-action="Edit" asp-route-Id="@item.Id"><i class="fal fa-edit"></i></a>
                </td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.MobileNum</td>
                <td>@item.Adress</td>
            </tr>
        }
    </tbody>
</table>