@model IEnumerable<App.Models.CourseModel>

<a asp-action="CreateCourse"><button type="button" class="btn btn-primary">Addera ny kurs</button></a>

<hr>
<table class="table table-bordered table-striped table-sm">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th>Kursnummer</th>
            <th>Kurstitel</th>
            <th>Kursbeskrivning</th>
            <th>Kurslängd(H)</th>
            <th>Kursnivå</th>
            <th>Pensionerad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center;">
                    <a asp-action="Edit" asp-route-Id="@item.Id"><i class="fal fa-edit"></i></a>
                </td>
                <td>@item.CourseNumber</td>
                <td>@item.CourseTitle</td>
                <td>@item.CourseDesc</td>
                <td>@item.CourseLength</td>
                <td>@item.CourseLevel</td>
                <td>@item.Retired</td>
            </tr>
        }
    </tbody>
</table>